<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring FrameWork Guru</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${author}">
        <td th:text="${author.id}" >id</td>
        <td th:text="${author.firstName}">first name</td>
        <td th:text="${author.lastName}">last name</td>
        <td th:each="book: ${author.books}" th:text="${book.title}">books</td>
    </tr>
</table>

</body>
</html>